.site-header {
	box-shadow: 0 -20px 20px 20px rgba(0, 0, 0, 0.35);
	.site-header__widget-area {
		background-color: $color3;
		.textwidget {
			font-size: 13px;
			text-align: center;
			padding: $unit1;
		}
	}
	.site-header__bar {
		> .container {
			height: $site-header__height;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	.site-header__logo {
	}
	.site-header__search {
		margin-bottom: $unit3;
		&.site-header__search--desktop {
			display: none;
		}
	}
	.site-header__nav {
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		.site-header__nav__list {
			border-top: 1px solid $color9;
		}
		.site-header__nav__item {
			&.site-header__nav__item--current {
				.site-header__nav__link {
					color: $color2;
				}
			}
		}
		.site-header__nav__link {
			display: block;
			text-align: center;
			color: $color1;
			text-decoration: none;
			border-bottom: 1px solid $color9;
			padding: $unit2 $unit1;
			@include attention() {
				color: $color2;
			}
		}
	}
}
