.hero {
	position: relative;
	padding: 20 * $unit1 0;
	background: black;
	color: white;
	.hero__image {
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);
		object-fit: cover;
	}
	> .container {
		position: relative;
		z-index: 1;
		text-align: center;
	}
	.hero__title {
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: $unit2;
	}
	.hero__text {
		font-size: 17px;
		margin-bottom: $unit3;
	}
}
