%section-title {
	@extend %headings;
	font-size: 20px;
	border-left: 4px solid $color__primary;
	padding-left: $unit1 * 1.5;
	@include mq($from: tablet) {
		font-size: 22px;
	}
	@include mq($from: desktop) {
		font-size: 24px;
	}
}

.section {
	padding-top: $unit6;
	padding-bottom: $unit6;
	.section__header {
		margin-bottom: $unit3;
		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: $unit2;
			&::after {
				content: "";
				height: 1px;
				width: 100%;
				background-color: $color9;
				margin: 0 $unit2;
				order: 2;
			}
		}
	}
	.section__title {
		@extend %section-title;
		order: 1;
		flex-shrink: 0;
	}
	.section__link {
		font-size: 14px;
		display: block;
		order: 3;
		flex-shrink: 0;
		min-width: 150px;
		@include mq($until: tablet) {
			display: none;
		}
	}
	&--bordered {
		border-top: 1px solid $color__divider;
	}
}
