.teaser {
	position: relative;
	.teaser__thumbnail {
		display: block;
		border-radius: $border__radius;
		overflow: hidden;
		margin-bottom: $unit1;
	}
	.teaser__category {
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: $unit1/2;
		a {
			@extend %link-silent;
		}
	}

	.teaser__price {
		.price-tag__discount {
			@include mq($until: desktop) {
				position: absolute;
				top: $unit1/2;
				left: $unit1/2;
			}
		}
	}

	.teaser__title {
		font-size: 18px;
		margin-bottom: $unit1;
		text-transform: none;
	}

	.teaser__summary {
		font-size: 14px;
		line-height: 1.35;
		@include mq($from: desktop) {
			line-height: 1.45;
		}
	}

	&.teaser--single {
		.teaser__title {
			@extend %post-title;
		}
		.teaser__summary {
			font-size: 16px;
		}
		.teaser__thumbnail {
			img {
				aspect-ratio: 16 / 9;
				object-fit: cover;
			}
		}
		@include mq($from: tablet) {
			display: flex;
			> div {
				padding: $unit4;
			}
			.teaser__thumbnail {
				width: 50%;
				flex-shrink: 0;
				margin-bottom: 0;
			}
		}
	}

	&.teaser--secondary {
		@include mq($from: desktop) {
			display: flex;
			.teaser__thumbnail {
				width: $teaser__thumbnail-width;
				flex-shrink: 0;
				margin-bottom: 0;
				margin-right: $unit3;
			}
		}
	}

	.site-sidebar & {
		position: relative;
		padding-left: $teaser__thumbnail-width--sidebar + $unit2;
		min-height: $teaser__thumbnail-width--sidebar;
		.teaser__thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			margin-bottom: 0;
			img {
				@include square($teaser__thumbnail-width--sidebar);
				object-fit: cover;
			}
		}
		.teaser__title {
			font-size: 14px;
		}
		.teaser__summary {
			display: none;
		}
	}
}
