$color1: #002333;
$color2: #ec008c;
$color3: #ffe921;
$color4: #ff0000;
$color5: #833ab4;
$color6: #32aadc;
$color7: #4267b2;
$color8: #9cd455;
$color9: #dcdee1;
$color10: lighten($color9, 10%);
$color11: darken($color9, 10%);
$color12: #212121;
$color13: #faf6ff;

// alias useful colors
$color__primary: $color2;
$color__attention: $color3;
$color__divider: $color9;
$color__text: $color1;
