$unit1: 8px; // 8px
$unit2: 2 * $unit1; // 16px
$unit3: 3 * $unit1; // 24px
$unit4: 4 * $unit1; // 32px
$unit5: 5 * $unit1; // 40px
$unit6: 6 * $unit1; // 48px
$unit7: 7 * $unit1; // 56px
$unit8: 8 * $unit1; // 64px
$unit9: 9 * $unit1; // 72px
$unit10: 10 * $unit1; // 80px
